{% extends 'RfCalculatorBundle::layout.html.twig' %}

{% block top_left %}

    <input type='checkbox' class='amu_input hidden_input' id='amu_beast_l' name='buff[amu_beast_l]' value='28'/>
    <input type='checkbox' class='amu_input hidden_input' id='amu_beast_r' name='buff[amu_beast_r]' value='28'/>

    <input type='checkbox' class='amu_input hidden_input' id='amu_oc_l' name='buff[amu_oc_l]' value='28'/>
    <input type='checkbox' class='amu_input hidden_input' id='amu_oc_r' name='buff[amu_oc_r]' value='28'/>

    <input type='checkbox' class='amu_input hidden_input' id='amu_sk_l' name='buff[amu_sk_l]' value='30'/>
    <input type='checkbox' class='amu_input hidden_input' id='amu_sk_r' name='buff[amu_sk_r]' value='30'/>

    <input type='checkbox' class='amu_input hidden_input' id='amu_starved_l' name='buff[amu_starved_l]' value='28'/>
    <input type='checkbox' class='amu_input hidden_input' id='amu_starved_r' name='buff[amu_starved_r]' value='28'/>

    <input type='checkbox' class='amu_input hidden_input' id='amu_vio_l' name='buff[amu_vio_l]' value='28'/>
    <input type='checkbox' class='amu_input hidden_input' id='amu_vio_r' name='buff[amu_vio_r]' value='28'/>

    <input type='checkbox' class='amu_input hidden_input' id='amu25_l' name='buff[amu25_l]' value='25'/>
    <input type='checkbox' class='amu_input hidden_input' id='amu25_r' name='buff[amu25_r]' value='25'/>

    <input type='checkbox' class='amu_input hidden_input' id='amu20_l' name='buff[amu20_l]' value='20'/>
    <input type='checkbox' class='amu_input hidden_input' id='amu20_r' name='buff[amu20_r]' value='20'/>

    <div id="amu_container" title="Amulet List">
        <span id='amu_beast_l-label' class='amu_beast amu' title="fluctuating beast vital's Earring" data-icon="amu_beast"></span>
        <span id='amu_beast_r-label' class='amu_beast amu' title="fluctuating beast vital's Earring" data-icon="amu_beast"></span>

        <span id='amu_oc_l-label' class='amu_oc amu' title="Outcasted marauder's Earring" data-icon="amu_oc"></span>
        <span id='amu_oc_r-label' class='amu_oc amu' title="Outcasted marauder's Earring" data-icon="amu_oc"></span>

        <span id='amu_sk_l-label' class='amu_sk amu' title="Stormknife Claw's Necklace" data-icon="amu_sk"></span>
        <span id='amu_sk_r-label' class='amu_sk amu' title="Stormknife Claw's Necklace" data-icon="amu_sk"></span>

        <span id='amu_starved_l-label' class='amu_starved amu' title="Starved Beast's Earring" data-icon="amu_starved"></span>
        <span id='amu_starved_r-label' class='amu_starved amu' title="Starved Beast's Earring" data-icon="amu_starved"></span>

        <span id='amu_vio_l-label' class='amu_vio amu' title="violent wild's Earring" data-icon="amu_vio"></span>
        <span id='amu_vio_r-label' class='amu_vio amu' title="violent wild's Earring" data-icon="amu_vio"></span>

        <span id='amu25_l-label' class='amu25 amu' title='Elemental Hue Headset' data-icon="amu25"></span>
        <span id='amu25_r-label' class='amu25 amu' title='Elemental Hue Headset' data-icon="amu25"></span>

        <span id='amu20_l-label' class='amu20 amu' title='Elemental Pliant Headset' data-icon="amu20"></span>
        <span id='amu20_r-label' class='amu20 amu' title='Elemental Pliant Headset' data-icon="amu20"></span>
    </div>

    <button id="show_amu" type="button">Amulet List</button>

    <input type='checkbox' class='ring_input hidden_input' id='ring20_l' name='buff[ring20_l]' value='20'/>
    <input type='checkbox' class='ring_input hidden_input' id='ring20_r' name='buff[ring20_r]' value='20'/>

    <input type='checkbox' class='ring_input hidden_input' id='ring25_l' name='buff[ring25_l]' value='25'/>
    <input type='checkbox' class='ring_input hidden_input' id='ring25_r' name='buff[ring25_r]' value='25'/>

    <div id="ring_container" title="Ring List">
        <span id='ring20_l-label'  class='ring20 ring' title='Elemental Pliant Bracers' data-icon="ring20"></span>
        <span id='ring20_r-label'  class='ring20 ring' title='Elemental Pliant Bracers' data-icon="ring20"></span>

        <span id='ring25_l-label'  class='ring25 ring' title='Elemental Hue Bracers' data-icon="ring25"></span>
        <span id='ring25_r-label'  class='ring25 ring' title='Elemental Hue Bracers' data-icon="ring25"></span>
    </div>

    <button id="show_ring" type="button">Ring List</button>
{% endblock %}

{% block top_center %}
    <div class='rf_main'>

        <div class='result_container'>
            <span>
                <span id="result_image" class="none"></span>
            </span>
            <div>Item Name : <span id='result_name'>-</span></div>
            <div id='result_weapon_container'>Damage : <span id='result_atk_min'>1</span> - <span id='result_atk_max'>1</span></div>
            <div id='result_buff_container'>Buff : <span id='result_buff'>0</span>%</div>
        </div>
        
        <div class='upgrade_container'>
            {% set percentages = {7 : 200, 6 : 135, 5: 80, 4 : 50, 3 : 25, 2: 13, 1 : 5} %}
            {% for i, percent in percentages %}
                <input type='radio' class='upgrade_input hidden_input' id='upgrade{{ i }}' name='upgrade' value='{{ percent }}'/>
                <label for='upgrade{{ i }}'  class='upgrade_label'></label>
            {% endfor %}
        </div>

        <div style="clear:both;"></div>
        <div class="elemental_container">
            <span class="none" id='amu_l'></span>
            <span class="none" id='amu_r'></span>
            <span class="none" id='ring_l'></span>
            <span class="none" id='ring_r'></span>
        </div>

        <div>
            <span class='reset'>reset</span>
        </div>
    </div>
{% endblock %}

{% block top_right %}
    <div class="launcher">
        <input type='radio' class='weapon_input hidden_input' name='weapon' id='hora_akeron' data-name='Hora Akeron' value='1265-2714' data-icon='hora_akeron'/>
        <label for='hora_akeron'  class='hora_akeron weapon' title='Hora Akeron'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='hora_akeron_b' data-name='Intense Hora Akeron' value='1671-3556' data-icon='hora_akeron'/>
        <label for='hora_akeron_b'  class='hora_akeron weapon' title='Intense Hora Akeron'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='dfl' data-name='Dark Flame Launcher' value='1638-3563' data-icon='dfl'/>
        <label for='dfl'  class='dfl weapon' title='Dark Flame Launcher'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='dfl_b' data-name='Intense Dark Flame Launcher' value='2036-4408' data-icon='dfl'/>
        <label for='dfl_b'  class='dfl weapon' title='Intense Dark Flame Launcher'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='div_fl' data-name='Divine Frame Launcher' value='2113-4667' data-icon='dfl'/>
        <label for='div_fl'  class='dfl weapon' title='Divine Frame Launcher'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='div_fl_b' data-name='Divine Frame Launcher [Rare B]' value='2482-5465' data-icon='dfl'/>
        <label for='div_fl_b'  class='dfl weapon' title='Divine Frame Launcher [Rare B]'></label>
    </div>
    <div class="lance">
        <input type='radio' class='weapon_input hidden_input' name='weapon' id='hora_spear' data-name='Hora Spear' value='1484-2280' data-icon='hora_spear'/>
        <label for='hora_spear'  class='hora_spear weapon' title='Hora Spear'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='hora_spear_b' data-name='Intense Hora Spear' value='1960-2980' data-icon='hora_spear'/>
        <label for='hora_spear_b'  class='hora_spear weapon' title='Intense Hora Spear'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='black_lance' data-name='Black Lance' value='1960-2980' data-icon='black_lance'/>
        <label for='black_lance'  class='black_lance weapon' title='Black Lance'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='black_lance_b' data-name='Intense Black Lance' value='2036-4408' data-icon='black_lance'/>
        <label for='black_lance_b'  class='black_lance weapon' title='Intense Black Lance'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='divine_lance' data-name='Divine Lance' value='2587-3874' data-icon='black_lance'/>
        <label for='divine_lance'  class='black_lance weapon' title='Divine Lance'></label>

        <input type='radio' class='weapon_input hidden_input' name='weapon' id='divine_lance_b' data-name='Divine Lance [Rare B]' value='2036-4408' data-icon='black_lance'/>
        <label for='divine_lance_b'  class='black_lance weapon' title='Divine Lance [Rare B]'></label>
    </div>
{% endblock %}

{% block bottom_container %}
    <div class="buff_container">
        <input type='checkbox' class='buff_input hidden_input' id='wild_rage' name='buff[wild_rage]' value='30'/>
        <label for='wild_rage'  class='wild_rage buff' title='Wild Rage'></label>

        <input type='checkbox' class='buff_input hidden_input' id='magnetic_arm' name='buff[magnetic_arm]' value='30'/>
        <label for='magnetic_arm'  class='magnetic_arm buff' title='Magnetic Arm'></label>

        <input type='checkbox' class='buff_input hidden_input' id='siege_mastery' name='buff[siege_mastery]' value='50'/>
        <label for='siege_mastery'  class='siege_mastery buff' title='Siege Mastery'></label>

        <input type='checkbox' class='buff_input hidden_input' id='od20' name='buff[od20]' value='20'/>
        <label for='od20'  class='od20 buff' title='Advanced Over Drive Charger'></label>

        <input type='checkbox' class='buff_input hidden_input' id='od40' name='buff[od40]' value='40'/>
        <label for='od40'  class='od40 buff' title='Offense Charger'></label>

        <input type='checkbox' class='buff_input hidden_input' id='od55' name='buff[od55]' value='55'/>
        <label for='od55'  class='od55 buff' title='Offense Charger [Premium]'></label>

        <input type='checkbox' class='buff_input hidden_input' id='od70' name='buff[od70]' value='70'/>
        <label for='od70'  class='od70 buff' title='Roast Sweet Potato'></label>
    </div>
    <div class="siege_container">
        <input type='checkbox' class='buff_input hidden_input' id='red_siege_1' name='buff[red_siege_1]' value='40'/>
        <label for='red_siege_1'  class='red_siege buff' title='Attack Ephocal Siege Kit'></label>

        <input type='checkbox' class='buff_input hidden_input' id='red_siege_2' name='buff[red_siege_2]' value='10'/>
        <label for='red_siege_2'  class='red_siege buff' title='Defense Ephocal Siege Kit'></label>

        <input type='checkbox' class='buff_input hidden_input' id='blue_siege' name='buff[blue_siege]' value='60'/>
        <label for='blue_siege'  class='blue_siege buff' title='Sniper Lecas Siege Kit'></label>

        <input type='checkbox' class='buff_input hidden_input' id='black_siege_1' name='buff[black_siege_1]' value='45'/>
        <label for='black_siege_1'  class='black_siege buff' title='Shining Siege Kit'></label>

        <input type='checkbox' class='buff_input hidden_input' id='black_siege_2' name='buff[black_siege_2]' value='40'/>
        <label for='black_siege_2'  class='black_siege buff' title='Advanced Shining Siege Kit'></label>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        $(function() {
            var trigger = function() {
                $.ajax({
                    type: 'get',
                    url: '/calculate',
                    data: $('form').serialize(),
                    success: function(json) {
                        $('#result_atk_min').text(json.totalMin);
                        $('#result_atk_max').text(json.totalMax);
                        $('#result_buff').text(json.buff);
                    }
                });
            };
            var resetInfo = function() {
                $('#result_name').text('-');
                $('#result_image').removeClass().addClass('none');
                $('#result_buff').text('0');
                $('.amu_input').filter(':checked').prop('checked', false);
                $('#amu_l').removeClass().addClass('none');
                $('#amu_r').removeClass().addClass('none');
                $('.ring_input').filter(':checked').prop('checked', false);
                $('#ring_l').removeClass().addClass('none');
                $('#ring_r').removeClass().addClass('none');
                $('.weapon_input').filter(':checked').prop('checked', false);
                $('.upgrade_input').filter(':checked').prop('checked', false);
                $('.buff_input').filter(':checked').prop('checked', false);
            }

            var elementalLogic = function(arr, input) {
                for(var i = 0; i < arr.length; i++) {
                    if(arr[i] && arr[i] == input) {
                        arr[i] = undefined;
                        $('#' + input.id.replace('-label', '')).prop('checked', false).trigger('change');
                        return;
                    }
                    else if(!arr[i]) {
                        arr[i] = input;
                        $('#' + input.id.replace('-label', '')).prop('checked', true).trigger('change');
                        return;
                    }
                }
                $('#' + arr[0].id.replace('-label', '')).prop('checked', false);
                arr[0] = input;
                $('#' + arr[0].id.replace('-label', '')).prop('checked', true).trigger('change');
            };

            var amuletArray = new Array(2);
            $('.amu').on('click', function() {
                elementalLogic(amuletArray, this);
            })
            $('.amu_input').on('change', function() {
                var id = '#' + this.id + '-label';
                $(id).toggleClass('highlight');
                trigger();
                $.each(amuletArray, function(k, v) {
                    if(v) {
                        if(k == 0) {
                            $('#amu_l').removeClass().addClass('amu ' + $(v).data('icon'));
                        }
                        else if(k == 1) {
                            $('#amu_r').removeClass().addClass('amu ' + $(v).data('icon'));
                        }
                    }
                    else {
                        if(k == 0) {
                            $('#amu_l').removeClass().addClass('none');
                        }
                        else if(k == 1) {
                            $('#amu_r').removeClass().addClass('none');
                        }
                    }
                });
            });

            var ringArray = new Array(2);
            $('.ring').on('click', function() {
                elementalLogic(ringArray, this);
            })
            $('.ring_input').on('change', function() {
                $('#' + this.id + '-label').toggleClass('highlight');
                trigger();
                $.each(ringArray, function(k, v) {
                    if(v) {
                        if(k == 0) {
                            $('#ring_l').removeClass().addClass('ring ' + $(v).data('icon'));
                        }
                        else if(k == 1) {
                            $('#ring_r').removeClass().addClass('ring ' + $(v).data('icon'));
                        }
                    }
                    else {
                        if(k == 0) {
                            $('#ring_l').removeClass().addClass('none');
                        }
                        else if(k == 1) {
                            $('#ring_r').removeClass().addClass('none');
                        }
                    }
                });
            });

            $( "#amu_container, #ring_container" ).dialog({
                autoOpen: false,
                height: 300,
                width: 400,
                modal: true
            });
            $( "#show_amu" ).button().on('click', function() {
                $( "#amu_container" ).dialog( "open" );
            });
            $( "#show_ring" ).button().on('click', function() {
                $( "#ring_container" ).dialog( "open" );
            });

            $('.weapon_input').on('change', function() {
                $('#result_name').text($(this).data('name'));
                $('#result_image').removeClass().addClass('weapon ' + $(this).data('icon'));
                trigger();
            });
            $('.upgrade_input').on('change', function() {
                trigger();
            });
            $('.buff_input').on('change', function() {
                trigger();
            });

            $('.reset').on('click', function() {
                resetInfo();
                trigger();
            });
            $( document ).tooltip({
                content: function() {
                    var result = '<div>' + $(this).attr('title') + '</div>';
                    if ($(this).hasClass('buff')) {
                        result += '<div>Damage: ' + $(this).prev().val() + '%</div>';
                    }
                    if ($(this).hasClass('amu')) {
                        result += '<div>Damage: ' + $('#' + this.id.replace('-label', '')).val() + '%</div>';
                    }
                    else if ($(this).hasClass('weapon')) {
                        result += '<div>Damage: ' + $(this).prev().val() + '</div>';
                    }
                    return result;
                }
            });
        });
    </script>
{% endblock %}